

@import 'reset';

body {
  margin: 0px;
}

.section {
  display: block;
  float: left;
  background: black;
}

.stats-section {
  padding: 10px;
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    color: white;
    height: 40px;
    border-bottom: 2px solid white;
    
    .name {
      display: inline-block;
      vertical-align: top;
      min-width: 60px;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
    
    .value {        
      float: right;
      display: inline-block;
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
    
    .bar {
      width: 200px;
      height: 20px;
      border: 2px white solid;
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      
      .inner {
        height: 20px;
        position: absolute;
      }
      
      .annotation {
          display: inline-block;
          top: 50%;
          left: 50%;
          position: relative;
          transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  
  li:last-child {
    border-bottom: 0;
  }
}

.message-container {
  float: left;
  clear: left;
  width: 600px;
  height: 200px;
  background: black;
  color: white;
  overflow-y: scroll;
}

.messages {
  margin: 0; 
  padding: 10px 30px; 
  list-style-type: square; 
  font-family: monospace;
  
  li {
    color: white;
  }
}
